//color for dark theme
$dark-background: #202c37;
$dark-element: #2b3945;
$dark-text: #ffffff;

//color fpr light theme
$light-background: #fafafa;
$light-element: #ffffff;
$light-text: #111517;

//box shadow
$box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);

//grid
$grid-columns: 12;

//spacing
$sizes: 12;
