.badge {
	font-weight: 400;
	font-size: 14px;
	padding: 9px;
	min-width: 96px;
	border-radius: 4px;
	margin: 0 5px;
	width: fit-content;
	text-align: center;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.07);
}
